<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Filmes - STAR WARS</title>

    <!-- Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link href="../Css/CSSFilmes.css" rel="stylesheet">
</head>

<body style="background:black">


    <!-- Barra de navegação -->
    <a name="topo">
        <nav class="navbar navbar-default" id="nav-bar">
    </a>
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barra-navegacao">
                  <span class="sr-only">Alternar menu</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

            <a href="../View/Filmes.html"><img src="../Img/ImgIndex/LOGO.png" id="imgLOGO"></a>
        </div>

        <div class="collapse navbar-collapse" id="barra-navegacao">
            <ul class="nav navbar-nav navbar-right ">
                <li><a href="../View/Index.html" id="hover-nav">Página inicial</a></li>
                <li><a href="../View/Filmes.html" id="hover-nav">Filmes</a></li>
                <li><a href="../View/Séries.html" id="hover-nav">Séries</a></li>
                <li><a href="../View/Contato.html" id="hover-nav">Contato</a></li>
            </ul>
        </div>
    </div>
    </nav>
    <!-- FIM NAVBAR -->

    <!-- INICIO CONTAINER CONTEUDO -->
    <div class="container">

        <div class="container" style="text-align: center;" id="Coluna1">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 style="COLOR: WHITE;">SAGA PRINCIPAL</h1>
                    <hr>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tema-filmes">
                    <h1>Veja a ordem correta para assistir todos os filmes de STAR WARS</h1>
                    <p>A ordem para se ver os filmes de Star Wars sempre foi motivo de debate entre os fãs.<br><br> Apesar de não existir uma ordem certa para assistir os filmes de Star Wars, a franquia oferece opções e combinações diferentes para que os
                        fãs recém convertidos tenham sua própia experiência na franquia.</p>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tabela-filmes">
                    <ul>
                        <li><a href="#film1">Uma nova esperança (1997)</a></li>
                        <li><a href="#film2">O império contra-ataca (1980)</a></li>
                        <li><a href="#film3">O Retorno de jedi (1983)</a></li>
                        <li><a href="#film4">A ameaça fantasma (1999)</a></li>
                        <li><a href="#film5">Ataque dos clones (2002)</a></li>
                        <li><a href="#film6">Rogue one (2016)</a></li>
                        <li><a href="#film7">A vingança dos sith (2005)</a></li>
                        <li><a href="#film8">han solo: Uma história Star Wars (2018)</a></li>
                        <li><a href="#film9">O despertar da força (2015)</a></li>
                        <li><a href="#film10">Os últimos Jedi (2017)</a></li>
                        <li><a href="#film11">A Ascenção Skywalker (2019)</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container" style="text-align: center;" id="Coluna2">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 style="color: white;">ORDEM CRONOLÓGICA MAIS VIÁVEL</h1>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="padrao-tabelas">
                    <a name="film1"><img id="imagem" src="../Img/ImgFilmes/FILME 1 - EP IV.png"></a><br>
                    <!-- Button trigger modal -->
                    <button id="botao-filmes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Saiba mais
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal-color">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Sinopse</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Star War: Episódio IV - Luke Skywalker (Mark Hammil) sonha ir para a Academia como seus amigos, mas se vê envolvido em uma guerra intergalática quando seu tio compra dois robôs e com eles encontra uma mensagem da princesa Leia Organa (Carrie Fisher) para
                                    o jedi Obi-Wan Kenobi (Alec Guiness) sobre os planos da construção da Estrela da Morte, uma gigantesca estação espacial com capacidade para destruir um planeta. Luke então se junta ao cavaleiro jedi e a Han Solo (Harrison
                                    Ford), um mercenário, para tentar destruir esta terrível ameaça ao lado dos membros da resistência.
                                    <br><br> Gênero: Ação, Aventura, Fantasia<br> Duração: 121 Min<br> Lançamento: 1977
                                </div>
                                <div class="modal-footer">
                                    <button style="color: black" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="padrao-tabelas">
                    <a name="film2"><img src="../Img/ImgFilmes/FILME 2 - EP V.png"></a><br>
                    <!-- Button trigger modal -->
                    <button id="botao-filmes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
                        Saiba mais
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal-color">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle1">Sinopse</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Star War: Episódio V - As forças imperais comandadas por Darth Vader (David Prowse) lançam um ataque contra os membros da resistência, que são obrigados a fugir. Enquanto isso Luke Skywalker (Mark Hamill) tenta encontrar o Mestre Yoda, que poderá ensiná-lo
                                    a dominar a "Força" e torná-lo um cavaleiro jedi. No entanto, Darth Vader planeja levá-lo para o lado negro da "Força".
                                    <br><br> Gênero: Ação, Aventura, Fantasia<br> Duração: 124 Min<br> Lançamento: 1980
                                </div>
                                <div class="modal-footer">
                                    <button style="color: black" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="padrao-tabelas">
                    <a name="film3"><img src="../Img/ImgFilmes/FILME 3 - EP VI.png"></a><br>
                    <!-- Button trigger modal -->
                    <button id="botao-filmes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
                        Saiba mais
                   </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal-color">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle2">Sinopse</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Star War: Episódio VI - Em O Retorno do Jedi, o Imperador Palpatine (Ian McDiarmid) está supervisionando a construção de uma nova Estrela da Morte. Enquanto isso, Luke Skywalker (Mark Hamill) liberta Han Solo (Harrison Ford) e a Princesa Leia (Carrie
                                    Fisher) das mãos de Jabba, o pior bandido das galáxias. Luke só se tornará um cavaleiro Jedi quando destruir Darth Vader, que ainda pretende atraí-lo para o lado negro da "Força". No entanto a luta entre os dois vai
                                    revelar um inesperado segredo.
                                    <br><br> Gênero: Ação, Aventura, Fantasia<br> Duração: 133 Min<br> Lançamento: 1983
                                </div>
                                <div class="modal-footer">
                                    <button style="color: black" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="padrao-tabelas">
                    <a name="film4"><img src="../Img/ImgFilmes/FILME 4 - EP I.png"></a><br>
                    <!-- Button trigger modal -->
                    <button id="botao-filmes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3">
                        Saiba mais
                   </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal-color">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle3">Sinopse</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Star War: Episódio I - Quando a maquiavélica Federação Comercial planeja invadir o pacífico planeta Naboo, o guerreiro Jedi Qui-Gon Jinn e seu aprendiz Obi-Wan Kenobi embarcam em uma aventura para tentar salvar o planeta. Viajam com eles a jovem Rainha
                                    Amidala, que é visada pela Federação pois querem forçá-la a assinar um tratado político. Eles têm de viajar para os distantes planetas Tatooine e Coruscant em uma desesperada tentativa de salvar o mundo de Darth Sidious,
                                    o demoníaco líder da Federação que sempre surge em imagens tridimensionais (a ameaça fantasma). Durante a viagem, Qui-Gon Jinn conhece um garoto de nove anos que deseja treiná-lo para ser tornar um Jedi, pois o menino
                                    tem todas as qualidades para isto. Mas o tempo revelará que nem sempre as coisas são o que aparentam.
                                    <br><br> Gênero: Ação, Aventura, Fantasia<br> Duração: 133 Min<br> Lançamento: 1999 | Relançamento: 2012
                                </div>
                                <div class="modal-footer">
                                    <button style="color: black" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="padrao-tabelas">
                    <a name="film5"><img src="../Img/ImgFilmes/FILME 5 - EP II.png"></a><br>
                    <!-- Button trigger modal -->
                    <button id="botao-filmes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter4">
                        Saiba mais
                   </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle4" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal-color">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle4">Sinopse</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Star War: Episódio II - Ataque dos Clones, dez anos após a tentativa frustrada de invasão do planeta Naboo, Obi-Wan Kenobi (Ewan McGregor), Anakin Skywalker (Hayden Christensen) e Padmé Amidala (Natalie Portman) estão juntos novamente. Neste período de
                                    tempo Obi-Wan passou de aprendiz a professor dos ensinamentos jedi para Anakin, sendo que ambos foram destacados para proteger a agora senadora Amidala, que tem sua vida ameaçada por facções separatistas da República,
                                    que ameaçam desencadear uma guerra civil intergalática. Com o passar do tempo surge um romance proibido entre Anakin e Amidala, pois os cavaleiros jedi não têm permissão para se apaixonarem.
                                    <br><br> Gênero: Ação, Aventura, Fantasia<br> Duração: 142 Min<br> Lançamento: 2002
                                </div>
                                <div class="modal-footer">
                                    <button style="color: black" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="padrao-tabelas">
                    <a name="film6"><img src="../Img/ImgFilmes/FILME 6 - ROGUE ONE.png"></a><br>
                    <!-- Button trigger modal -->
                    <button id="botao-filmes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter5">
                        Saiba mais
                   </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle5" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal-color">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle5">Sinopse</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Em Rogue One: Uma História Star Wars, Jyn Erso (Felicity Jones) foi afastada de seu pai, Galen (Mads Mikkelsen), ainda criança, devido à exigência do diretor Krennic (Ben Mendelsohn) que ele trabalhasse na construção da arma mais poderosa do Império,
                                    a Estrela da Morte. Criada por Saw Gerrera (Forest Whitaker), ela teve que aprender a sobreviver por conta própria ao completar 16 anos. Já adulta, Jyn é resgatada da prisão pela Aliança Rebelde, que deseja ter acesso
                                    a uma mensagem enviada por seu pai a Gerrera. Com a promessa de liberdade ao término da missão, ela aceita trabalhar ao lado do capitão Cassian Andor (Diego Luna) e do robô K-2SO.
                                    <br><br> Gênero: Ação, Aventura, Fantasia<br> Duração: 134 Min<br> Lançamento: 2016
                                </div>
                                <div class="modal-footer">
                                    <button style="color: black" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="padrao-tabelas">
                    <a name="film7"><img src="../Img/ImgFilmes/FILME 7 - EP III.png"></a><br>
                    <!-- Button trigger modal -->
                    <button id="botao-filmes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter6">
                        Saiba mais
                   </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle6" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal-color">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle6">Sinopse</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Star War: Episódio III - As Guerras Clônicas estão em pleno andamento e as diferenças entre o Conselho Jedi e o Chanceler Palpatine (Ian McDiarmid) aumentam cada vez mais. Anakin Skywalker (Hayden Christensen) mantém um elo de lealdade com Palpatine,
                                    ao mesmo tempo em que luta para que seu casamento com Padmé Amidala (Natalie Portman) não seja afetado por esta situação. Seduzido por promessas de poder, Anakin se aproxima cada vez mais de Darth Sidious (Ian McDiarmid)
                                    até se tornar o temível Darth Vader. Juntos eles tramam um plano para aniquilar de uma vez por todas com os cavaleiros jedi.
                                    <br><br> Gênero: Ação, Aventura, Fantasia<br> Duração: 140 Min<br> Lançamento: 2005
                                </div>
                                <div class="modal-footer">
                                    <button style="color: black" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="padrao-tabelas">
                    <a name="film8"><img src="../Img/ImgFilmes/FILME 7 - HAN SOLO.png"></a><br>
                    <!-- Button trigger modal -->
                    <button id="botao-filmes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter7">
                        Saiba mais
                   </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle7" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal-color">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle7">Sinopse</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Em dificuldade financeira, o piloto Han Solo (Alden Ehrenreich) e sua namorada Qi'ra (Emilia Clarke) buscam algum trabalho. Eles conseguem pôr as mãos em uma substância valiosa, mas perigosa, que acaba levando à perseguição do Império e à separação entre
                                    os dois. Preocupado, Han usa toda a sua esperteza para se infiltrar num plano arriscado, mas que pode render a oportunidade de voltar à terra natal e reencontrar a sua amada. Caso ele falhe, vai ter que prestar contas
                                    ao perigoso Dryden Vos (Paul Bettany). No caminho, o piloto encontra parceiros importantes, como Chewbacca (Joonas Suotamo) e Lando Calrissian (Donald Glover), o proprietário original da Millennium Falcon.
                                    <br><br> Gênero: Ação, Aventura, Fantasia<br> Duração: 135 Min<br> Lançamento: 2018
                                </div>
                                <div class="modal-footer">
                                    <button style="color: black" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="padrao-tabelas">
                    <a name="film9"><img src="../Img/ImgFilmes/FILME 8 - EP VII.png"></a><br>
                    <!-- Button trigger modal -->
                    <button id="botao-filmes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter8">
                        Saiba mais
                   </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter8" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle8" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal-color">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle8">Sinopse</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Star War: Episódio VII - Décadas após a queda de Darth Vader e do Império, surge uma nova ameaça: a Primeira Ordem, uma organização sombria que busca minar o poder da República e que tem Kylo Ren (Adam Driver), o General Hux (Domhnall Gleeson) e o Líder
                                    Supremo Snoke (Andy Serkis) como principais expoentes. Eles conseguem capturar Poe Dameron (Oscar Isaac), um dos principais pilotos da Resistência, que antes de ser preso envia através do pequeno robô BB-8 o mapa de
                                    onde vive o mitológico Luke Skywalker (Mark Hamill). Ao fugir pelo deserto, BB-8 encontra a jovem Rey (Daisy Ridley), que vive sozinha catando destroços de naves antigas. Paralelamente, Poe recebe a ajuda de Finn (John
                                    Boyega), um stormtrooper que decide abandonar o posto repentinamente. Juntos, eles escapam do domínio da Primeira Ordem.
                                    <br><br> Gênero: Ação, Aventura, Fantasia<br> Duração: 135 Min<br> Lançamento: 2015
                                </div>
                                <div class="modal-footer">
                                    <button style="color: black" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="padrao-tabelas">
                    <a name="film10"><img src="../Img/ImgFilmes/FILME 9 - EP VIII.png"></a><br>
                    <!-- Button trigger modal -->
                    <button id="botao-filmes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter9">
                        Saiba mais
                   </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter9" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle9" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal-color">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle9">Sinopse</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Star War: Episódio VIII - Os Últimos Jedi, após encontrar o mítico e recluso Luke Skywalker (Mark Hamill) em uma ilha isolada, a jovem Rey (Daisy Ridley) busca entender o balanço da Força a partir dos ensinamentos do Mestre Jedi. Paralelamente, a Primeira
                                    Ordem de Kylo Ren (Adam Driver) se reorganiza para enfrentar a Resistência.
                                    <br><br> Gênero: Ação, Aventura, Fantasia<br> Duração: 152 Min<br> Lançamento: 2017
                                </div>
                                <div class="modal-footer">
                                    <button style="color: black" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="padrao-tabelas">
                    <a name="film11"><img src="../Img/ImgFilmes/FILME 10 - EP IX.png"></a><br>
                    <!-- Button trigger modal -->
                    <button id="botao-filmes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter10">
                         Saiba mais
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter10" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle10" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal-color">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle10">Sinopse</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                     </button>
                                </div>
                                <div class="modal-body">
                                    Star War: Episódio IX - A Ascensão Skywalker, com o retorno do Imperador Palpatine (Ian McDiarmid), todos voltam a temer seu poder. Assim, a Resistência toma a frente da batalha que ditará os rumos da galáxia. Treinando para ser uma completa Jedi, Rey
                                    (Daisy Ridley) ainda se encontra em conflito com seu passado e futuro, mas teme pelas respostas que pode conseguir a partir de sua complexa ligação com Kylo Ren (Adam Driver), que também se encontra em conflito pela
                                    Força.
                                    <br><br> Gênero: Ação, Aventura, Fantasia<br> Duração: 142 Min<br> Lançamento: 2019
                                </div>
                                <div class="modal-footer">
                                    <button style="color: black" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

            </div>
        </div>


        <!-- SUBIR AO TOPO -->
        <div id="subir-ao-topo">
            <a href="#topo">Topo</a>
        </div>

        <!-- IMAGEM RODAPÉ -->
        <div class="row">
            <div class="col-12">
                <img id="imgRodape" src="../Img/ImgIndex/imgRodape.png">
                <!-- IMAGEM COM TAMNHO DE (1220PX PO 200PX) -->
            </div>
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>

</html>