<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Séries - STAR WARS</title>

    <!-- Bootstrap -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link href="../Css/CSSSéries.css" rel="stylesheet">
</head>

<body style="background:black">


    <!-- Barra de navegação -->
    <a name="topo">
        <nav class="navbar navbar-default" id="nav-bar">
    </a>
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barra-navegacao">
                  <span class="sr-only">Alternar menu</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

            <a href="../View/Séries.html"><img src="../Img/ImgIndex/LOGO.png" id="imgLOGO"></a>
        </div>

        <div class="collapse navbar-collapse" id="barra-navegacao">
            <ul class="nav navbar-nav navbar-right ">
                <li><a href="../View/Index.html" id="hover-nav">Página inicial</a></li>
                <li><a href="../View/Filmes.html" id="hover-nav">Filmes</a></li>
                <li><a href="../View/Séries.html" id="hover-nav">Séries</a></li>
                <li><a href="../View/Contato.html" id="hover-nav">Contato</a></li>
            </ul>
        </div>
    </div>
    </nav>

    <!-- INICIO CONTAINER CONTEUDO -->
    <div class="container">

        <div class="container" style="text-align: center;" id="Coluna1">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 style="COLOR: WHITE; margin-top: 100px;">SÉRIES DE STAR WARS</h1>
                    <hr>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tema-filmes">
                    <p>Há muitas séries de Star Wars, aqui vão algumas delas.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tabela-filmes">
                    <ul>
                        <li><a href="#film1">The Clone Wars</a></li>
                        <li><a href="#film2">Rebels</a></li>
                        <li><a href="#film3">Resistence</a></li>
                        <li><a href="#film4">The Mandalorian 1</a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="container" style="text-align: center;" id="Coluna2">
            <div class="row">
                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="padrao-tabelas">
                    <a name="film1"><img id="imagem" src="../Img/ImgSeries/1 Clone Wars.png"></a><br>
                    <!-- Button trigger modal -->
                    <button id="botao-filmes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Saiba mais
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal-color">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Sinopse</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    O Grande Exército da República, liderado pelos Mestres Jedi Yoda, Mace Windu, Obi-Wan Kenobi e outros, deve lutar contra o Exército dos Separatistas, para defender a união democrática e a estabilidade política da galáxia. Nos campos de batalha, eles enfrentam
                                    o ardiloso Dooku, o vingativo General Grievous e a implacável Asajj Ventress. Nos bastidores, o Senador Palpatine manipula os eventos a seu favor.
                                    <br><br> Guerra, Ficção científica, Ação, Animação<br> 121 Ep - Duração: 22min c/ episódio<br> 2008 - 2020
                                </div>
                                <div class="modal-footer">
                                    <button style="color: black" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="padrao-tabelas">
                    <a name="film2"><img id="imagem" src="../Img/ImgSeries/2 Rebels.png"></a><br>
                    <!-- Button trigger modal -->
                    <button id="botao-filmes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
                        Saiba mais
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal-color">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle1">Sinopse</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Star Wars Rebels se passa no intervalo de 19 anos entre o "Episódio III - A Vingança dos Sith" e o "Episódio IV: Uma Nova Esperança". O Império Galáctico aumenta sua área de poder de um planeta para outro e espalha sua tirania pela galáxia. Um grupo de
                                    rebeldes decide, então, se levantar contra as forças imperiais, organizando operações secretas a bordo da espaçonave Fantasma. Corajosos e inteligentes, esses guerreiros encaram as mais diversas aventuras para derrotar
                                    o mal.
                                    <br><br> Aventura, Fantasia, Ficção científica, Animação<br> 79 Ep - Duração: 22min c/ episódio<br> 2014 - 2018
                                </div>
                                <div class="modal-footer">
                                    <button style="color: black" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="padrao-tabelas">
                    <a name="film3"><img id="imagem" src="../Img/ImgSeries/3 Resistence.png"></a><br>
                    <!-- Button trigger modal -->
                    <button id="botao-filmes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
                        Saiba mais
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal-color">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle2">Sinopse</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Kazuda Xiono, um jovem piloto da Nova República, é recrutado pela Resistência para espionar a Primeira Ordem, uma ameaça crescente na galáxia. Ao longo de sua missão, Kazuda conta com a ajuda do comandante Poe Dameron e precisa, ainda, enfrentar a poderosa
                                    figura da Capitã Phasma.
                                    <br><br> Ficção científica, Ação, Animação<br> 40 Ep - Duração: 26min c/ episódio<br> Desde 2018
                                </div>
                                <div class="modal-footer">
                                    <button style="color: black" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" id="padrao-tabelas">
                    <a name="film4"><img id="imagem" src="../Img/ImgSeries/4 Mandalorian1.png"></a><br>
                    <!-- Button trigger modal -->
                    <button id="botao-filmes" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3">
                        Saiba mais
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle3" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="modal-color">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle3">Sinopse</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Em The Mandalorian, Din Djarin (Pedro Pascal) é um guerreiro solitário que trabalha como caçador de recompensa. Ele embarca numa jornada pelos territórios esquecidos da galáxia, logo após a queda do Império e antes da criação da temida Primeira Ordem.
                                    <br><br> Aventura, Ficção científica<br> 8 Ep - Duração: 40min c/ episódio<br> Desde 2019
                                </div>
                                <div class="modal-footer">
                                    <button style="color: black" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- SUBIR AO TOPO -->
        <div id="subir-ao-topo">
            <a href="#topo">Topo</a>
        </div>

        <!-- IMAGEM RODAPÉ -->
        <div class="row">
            <div class="col-12">
                <img id="imgRodape" src="../Img/ImgIndex/imgRodape.png">
                <!-- IMAGEM COM TAMNHO DE (1220PX PO 200PX) -->
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>

</html>